{%- liquid
  assign animation_row = 2
  assign drawer_position = 'right'
  if logo_alignment == 'center'
    assign drawer_position = 'left'
  endif
-%}

<div id="NavDrawer" class="drawer drawer--{{ drawer_position }}">
  <div class="drawer__contents">
    <div class="drawer__fixed-header">
      <div class="drawer__header appear-animation appear-delay-{{ animation_row }}">
        <div class="drawer__title"></div>
        <div class="drawer__close">
          <button type="button" class="drawer__close-button js-drawer-close">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><title>icon-X</title><path d="m19 17.61 27.12 27.13m0-27.12L19 44.74"/></svg>
            <span class="icon__fallback-text">{{ 'general.drawers.close_menu' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__scrollable">
      <ul class="mobile-nav" role="navigation" aria-label="Primary">
        {%- for link in main_menu.links -%}
          {%- liquid
            assign animation_row = animation_row | plus: 1
            assign child_list_handle = link.url | handleize | append: forloop.index
            assign has_dropdown = false
            assign is_megamenu = false
            if link.links != blank
              assign has_dropdown = true
            endif

            if has_dropdown
              for block in section.blocks
                if link.title == block.settings.menu_item
                  assign is_megamenu = true

                  assign promo_image_1 = block.settings.promo_image_1
                  assign promo_heading_1 = block.settings.promo_heading_1
                  assign promo_text_1 = block.settings.promo_text_1
                  assign promo_url_1 = block.settings.promo_url_1
                  assign promo_image_2 = block.settings.promo_image_2
                  assign promo_heading_2 = block.settings.promo_heading_2
                  assign promo_text_2 = block.settings.promo_text_2
                  assign promo_url_2 = block.settings.promo_url_2
                  break
                endif
              endfor
            endif
          -%}

          <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
            {%- if has_dropdown -%}
              <div class="mobile-nav__has-sublist">
                {%- assign trigger_link = false -%}
                {%- if link.url == '#' or link.url == link.links.first.url -%}
                  {%- assign trigger_link = true -%}
                {%- endif -%}

                {%- if trigger_link -%}
                  <button type="button" class="mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}">
                    <span class="mobile-nav__faux-link">{{ link.title }}</span>
                    <div class="mobile-nav__toggle">
                      <span>
                        {%- render 'collapsible-icons' -%}
                      </span>
                    </div>
                  </button>
                {%- else -%}
                  <a href="{{ link.url }}" class="mobile-nav__link" id="Label-{{ child_list_handle }}">
                    {{ link.title }}
                  </a>
                  <div class="mobile-nav__toggle">
                    <button type="button" class="collapsible-trigger collapsible--auto-height" aria-controls="Linklist-{{ child_list_handle }}" aria-labelledby="Label-{{ child_list_handle }}">
                      {%- render 'collapsible-icons' -%}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            {%- else -%}
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
            {%- endif -%}

            {%- if has_dropdown -%}
              <div id="Linklist-{{ child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all">
                <div class="collapsible-content__inner">
                  <ul class="mobile-nav__sublist">
                    {%- for childlink in link.links -%}
                      {%- assign has_sub_dropdown = false -%}
                      {%- assign grand_child_list_handle = childlink.url | handleize | append: forloop.index -%}
                      {%- if childlink.links != blank -%}
                        {%- assign has_sub_dropdown = true -%}
                      {%- endif -%}

                      <li class="mobile-nav__item{% unless template == 'index' %}{% if childlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                        <div class="mobile-nav__child-item">
                          {%- assign trigger_link = false -%}
                          {%- if childlink.url == '#' or childlink.url == childlink.links.first.url -%}
                            {%- assign trigger_link = true -%}
                          {%- endif -%}

                          {%- if trigger_link and has_sub_dropdown -%}
                            <button type="button" class="mobile-nav__link--button mobile-nav__link--button-small collapsible-trigger" aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}">
                              <span class="mobile-nav__faux-link">{{ childlink.title | escape }}</span>
                              <div class="mobile-nav__toggle">
                                <span>
                                  {%- render 'collapsible-icons-alt' -%}
                                </span>
                              </div>
                            </button>
                          {%- else -%}
                            <a href="{{ childlink.url }}" class="mobile-nav__link" id="Sublabel-{{ grand_child_list_handle }}">
                              {{ childlink.title | escape }}
                            </a>
                          {%- endif -%}
                          {%- if trigger_link == false and has_sub_dropdown -%}
                            <button type="button" class="collapsible-trigger" aria-controls="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}" aria-labelledby="Sublabel-{{ grand_child_list_handle }}">
                              {%- render 'collapsible-icons-alt' -%}
                            </button>
                          {%- endif -%}
                        </div>

                        {%- if has_sub_dropdown -%}
                          <div id="Sublinklist-{{ child_list_handle }}-{{ grand_child_list_handle }}" class="mobile-nav__sublist collapsible-content collapsible-content--all" aria-labelledby="Sublabel-{{ grand_child_list_handle }}">
                            <div class="collapsible-content__inner">
                              <ul class="mobile-nav__grandchildlist">
                                {%- for grandchildlink in childlink.links -%}
                                  <li class="mobile-nav__item{% unless template == 'index' %}{% if grandchildlink.active %} mobile-nav__item--active{% endif %}{% endunless %}">
                                    <a href="{{ grandchildlink.url }}" class="mobile-nav__link">
                                      {{ grandchildlink.title }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </div>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>

                  {%- if is_megamenu -%}
                    {%- if promo_image_1 -%}
                      <div class="megamenu__promo megamenu__promo--mobile">
                        {%- if promo_url_1 -%}
                          <a href="{{ promo_url_1 }}" class="megamenu__promo-link">
                        {%- endif -%}
                          <div style="margin: 0 auto; max-width: {{ promo_image_1.width }}px">
                            <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_1.aspect_ratio }}%;">
                              {%- render 'image-element',
                                img: promo_image_1,
                                widths: '540, 750, 900',
                              -%}
                          </div>
                          {%- if promo_heading_1 -%}
                            <div><strong>{{ promo_heading_1 }}</strong></div>
                          {%- endif -%}
                          {%- if promo_text_1 -%}
                            <div>{{ promo_text_1 }}</div>
                          {%- endif -%}
                        {%- if promo_url_1 -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}

                    {%- if promo_image_2 -%}
                      <div class="megamenu__promo megamenu__promo--mobile">
                        {%- if promo_url_2 -%}
                          <a href="{{ promo_url_2 }}" class="megamenu__promo-link">
                        {%- endif -%}
                          <div style="margin: 0 auto; max-width: {{ promo_image_2.width }}px">
                            <div class="image-wrap aos-animate megamenu__promo-image" style="height: 0; padding-bottom: {{ 100 | divided_by: promo_image_2.aspect_ratio }}%;">
                              {%- render 'image-element',
                                img: promo_image_2,
                                widths: '540, 750, 900',
                              -%}
                            </div>
                          </div>
                          {%- if promo_heading_2 -%}
                            <div><strong>{{ promo_heading_2 }}</strong></div>
                          {%- endif -%}
                          {%- if promo_text_2 -%}
                            <div>{{ promo_text_2 }}</div>
                          {%- endif -%}
                        {%- if promo_url_2 -%}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if shop.customer_accounts_enabled -%}
          {%- assign animation_row = animation_row | plus: 1 -%}
          {%- if customer -%}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
              <a href="{{ routes.account_url }}" class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
            </li>
          {%- else -%}
            <li class="mobile-nav__item{% unless template == 'index' %}{% if link.active %} mobile-nav__item--active{% endif %}{% endunless %} appear-animation appear-delay-{{ animation_row }}">
              <a href="{{ routes.account_login_url }}" class="mobile-nav__link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
          {%- endif -%}
        {%- endif -%}

        <li class="mobile-nav__spacer"></li>
      </ul>

      {% assign footer_section = sections['footer'] %}
      {% assign instagram_link = footer_section.settings.instagram_link | default: 'https://www.instagram.com/ventral.official' %}
      {% assign facebook_link = footer_section.settings.facebook_link | default: 'https://www.facebook.com/people/Ventral-Marine/61591187923921' %}
      <div class="mobile-nav__social mobile-nav__social--ventral" aria-label="Social media">
        <a href="{{ facebook_link }}" aria-label="Facebook" target="_blank" rel="noopener">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon mobile-nav__social-icon" viewBox="0 0 14222 14222">
            <path d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111Zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28Zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137Zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013Z"/>
          </svg>
        </a>
        <a href="{{ instagram_link }}" aria-label="Instagram" target="_blank" rel="noopener">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon mobile-nav__social-icon" viewBox="0 0 32 32">
            <path d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"/>
            <path d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
